<h1>My Bookmarks</h1>

<button type="button" onClick="location.href='/bookmarks/new'" name="add">Add new bookmark</button>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li class='bookmark' id='bookmark-<%= bookmark.id %>'>

    <a href= <%= bookmark.url %>>
      <%= bookmark.title %>
    </a>
    <form action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="delete" value="Delete">
    </form>

    <button type="button" onClick="location.href='/bookmarks/<%= bookmark.id %>/edit'" name="update">Update</button>
  </li>
  <% end %>
</ul>
